@charset "UTF-8";

/*css style reset*/

body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding: 0;}
em { font-style: normal;}
li { list-style: none;}
a { text-decoration: none;}
img { border: none; vertical-align: top;}
table { border-collapse: collapse;}
input,textarea { outline: none;}
textarea { resize:none; overflow: auto;}
body {font-size: 12px; font-family: Arial;}


/* public common sytle*/
.clear { zoom:1;}
.clear:after { content:''; display:block; clear:both;}
.fl { float:left;}
.fr { float:right;}
.gradient {
  background: -moz-linear-gradient(top, #FFFFFF, #f8f8f8);
  background: -webkit-linear-gradient(top, #FFFFFF, #f8f8f8);
  background: -ms-linear-gradient(top, #FFFFFF, #f8f8f8);
  background: linear-gradient(top, #FFFFFF, #f8f8f8);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
  +background: #f9f9f9;
}
.roundcorner{
  border-radius: 6px;
}

.triangle-blue {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 18px solid #645CC3;
    border-bottom: 19px solid transparent;
    margin-right: 20px;
}

.triangle-grey {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 18px solid #ccc;
    border-bottom: 19px solid transparent;
    margin-right: 20px;
}


/* layout */
#header { height:48px; margin:0 0; background-color: #645CC3;}
#header .user,#header .exit_btn  { line-height: 48px; margin-right: 100px;font-size: 20px; color: #FFF;}
#side_menu {width:180px; height:1024px; background: #434343;}
.content { margin: 0 auto;}
#main { padding-top: 40px; padding-left: 240px;}
#main .section {}
#main .title {}
#footer { left:180px; bottom:0; POSITION:fixed; height:40px; width: 2048px; z-index:1; margin: 0 0; background: #434343;}


/*nav bar*/
#nav_side { width:180px; background-color: #645CC3;}
#side_logo {width:180px; height:58px;}

#side_menu li {
  height: 50px;
  border-bottom: 1px solid #666;
}
#side_menu li a{
  padding: 15px 0 0 25px;
  display: block;
  height: 20px;
  font-size: 16px;
  color: #ccc;
}
#side_menu li a:hover{ color: #999;}
#side_menu li .active{ color: #FFF;}
#side_menu li .active:hover{ color: #FFF;}

#side_menu .subtab a{
  padding: 15px 0 0 45px;
  display: block;
  height: 20px;
  font-size: 14px;
  color: #ccc;
}
#side_menu .subtab .active{ color: #FFF;}
#side_menu .subtab .active:hover{ color: #FFF;}


/*main nav*/
#main .nav {margin-top: 30px; height: 39px; position: relative;}
#main .nav li {width:200px; color:#FFF; font-size: 18px; line-height: 39px;
  border-radius: 6px 0 0 6px;
  background-color: #ccc;
}
#main .nav .active {width:200px; height: 39px; color:#FFF; font-size: 18px; line-height: 39px;
  border-radius: 6px 0 0 6px;
  background-color: #645CC3;
}

#main .nav li span {
  margin-left: 40px;
}


#main .infos { margin-top: 30px;}
#main .infos .info { height:39px;}
#main .infos .info .name { width:80px; color:#666; font-size: 16px; line-height: 39px;}
#main .infos .info .info_value { color:#000; font-size: 14px;}
#main .infos .info .info_value .radiostyle{ width: 100px; padding-top: 13px; display: block;}
#main .infos .info .info_value .radiostyle input{ margin-right: 10px;}
#main .infos .info .info_value .textstyle input{ width: 240px; height:32px; padding-top:3px; border-radius: 6px; border:1px solid #CCC; }

#main .infos .info .info_value .textareastyle input{ width: 340px; height:80px; padding-top:10px; border-radius: 6px; border:1px solid #CCC; }
